<div class="po-m-2">
  <po-container [p-title]="task!.taskData!.taskId">
    <div class="po-md-4 po-sm-12">

      <po-info p-label="Descrição" [p-value]="task!.taskData!.description"></po-info>
      <po-divider></po-divider>
      <po-info [p-orientation]="orientation" p-label="Participantes" [p-value]="(task?.taskData?.voters?.length || 0).toString()"></po-info>
      <po-info [p-orientation]="orientation" p-label="Total de votos" [p-value]="totalParticipantes"></po-info>
    </div>
    <div class="po-md-4">
      @if(isCreator || !task?.taskData?.voting){
        <po-chart
          [p-options]="{legend: false}"
          [p-height]="200"
          [p-series]="votesBySize"
        >
        </po-chart>
      }
    </div>
    <div class="po-md-4 po-sm-12">
      <div class="po-md-12">
        @if(isCreator){
          @if(!task!.taskData!.voting && !task!.taskData!.complete){
            <po-button class="po-md-12" [p-label]="resultSize() ? 'Nova votação' : 'Refinar'" (p-click)="plan()"> </po-button>
            @if(resultSize()){
              <po-button class="po-md-12 po-mt-1" p-kind="primary" [p-label]="'Concluir'" (p-click)="complete()"> </po-button>
            }

          }
          @if(task!.taskData!.voting){
            <po-button class="po-md-12" p-kind="primary" [p-label]="'Finalizar votação'" (p-click)="complete()"> </po-button>
          }
        } @else if(task!.taskData!.voting){
          <po-button class="po-md-12" p-label="Votar" (p-click)="vote()"> </po-button>
        }

      </div>
      <div class="po-md-12 po-row po-m-2">
        <div class="po-md-4">
          @if(taskTag){
            <po-tag [p-type]="taskTag.type" [p-value]="taskTag.value"></po-tag>
          }

          @if(task && task.taskData && task.taskData.result > 0 && !task.taskData.voting){
            <po-info [p-orientation]="orientation" p-label="Resultado" [p-value]="resultSize()"></po-info>
          }
        </div>
        <div class="po-md-4"></div>
        <div class="po-md-4">
          @if(task && task.taskData && isCreator && resultSize() && !task.taskData.voting && !task.taskData.complete){
            <po-button p-label="Ajustar resultado" (p-click)="openModal()"></po-button>
          }
        </div>
      </div>
    </div>
  </po-container>

  <po-modal p-title="Ajustar Resultado" [p-primary-action]="confirm" [p-secondary-action]="close">

    <div class="po-row">
        <po-select name="newResult" [ngModel]="newResult" (p-change)="newResult = $event" [p-options]="[{ label: 'P', value: 1 },{ label: 'M', value: 2 },{ label: 'G', value: 3 }]" class="po-md-12" p-label="Novo resultado a ser definido">
        </po-select>
    </div>

    <po-modal-footer [p-disabled-align]="false">
        <po-button p-danger="true" p-label="Fechar" (p-click)="closeModal()"> </po-button>
        <po-button p-kind="primary" p-label="Confirmar" (p-click)="setNewResult()"> </po-button>
    </po-modal-footer>

  </po-modal>
</div>
