<div class="po-wrapper">

    <div class="row po-m-2">

      <h2>Tarefas da sessão</h2>

        <p class="po-mb-5 po-mt-5">Olá, {{userName}}! Bem vindo a sessão de planning {{sessionName}}.</p>

        <po-button *ngIf="isCreator" p-label="Adicionar tarefas" (p-click)="addTask()"> </po-button>

        <po-divider></po-divider>

        <app-task *ngFor="let task of tasks" [task]="task" [isCreator]="isCreator" ></app-task>

    </div>

    <po-modal p-title="Options" [p-primary-action]="confirm" [p-secondary-action]="close">
        <form #optionsForm="ngForm">
            <div class="po-row">
                <po-input class="po-md-12" name="taskId" [(ngModel)]="newTask.taskId" p-label="Código da tarefa:">
                </po-input>
            </div>
            <div class="po-row">
                <po-textarea class="po-md-12" name="description" [(ngModel)]="newTask.description" p-label="Descrição:">
                </po-textarea>
            </div>
        </form>

        <po-modal-footer [p-disabled-align]="false">
            <po-button p-danger="true" p-label="Close" (p-click)="closeModal()"> </po-button>
            <po-button p-kind="primary" p-label="Confirm" (p-click)="addNewTask()"> </po-button>
        </po-modal-footer>

    </po-modal>

</div>
