<div class="po-wrapper">

    <po-page-default p-title="Lista de tarefas da sessão">

        <p class="po-mb-5">Olá, {{userName}}! Bem vindo a sessão de planning {{sessionName}}.</p>

        <po-button p-label="Adicionar tarefas" (p-click)="addTask()"> </po-button>

        <po-divider></po-divider>

        <app-task *ngFor="let task of tasks" [taskId]="task.taskId" [description]="task.description"></app-task>

    </po-page-default>

    <po-modal p-title="Options" [p-primary-action]="confirm" [p-secondary-action]="close">
        <form #optionsForm="ngForm">

            <div class="po-row">
                <po-textarea class="po-md-12" name="orderDetail" p-label="Details:">
                </po-textarea>
            </div>
        </form>

        <po-modal-footer [p-disabled-align]="false">
            <po-button p-danger="true" p-label="Close" (p-click)="closeModal()"> </po-button>
            <po-button p-label="Clear" (p-click)="restore()"> </po-button>
            <po-button p-kind="primary" p-label="Confirm" (p-click)="confirmFruits()"> </po-button>
        </po-modal-footer>

    </po-modal>

</div>
