<div class="po-row">
  <app-session-tasks class="po-md-3 po-lg-3"></app-session-tasks>
  <div class="po-md-9">
    <h1 class="po-font-title">Votação:</h1>
      <div class="container-usuarios">
        <div *ngFor="let user of sessionUsers">
          <po-avatar
            class="usuarios"
            [p-tooltip]="user"
            p-src="https://po-ui.io/assets/graphics/logo-po.png"
          >
          </po-avatar>
        </div>
      </div>

        <div class="po-row">
    <div class="po-md-12">

      <po-stepper
        #meuStepper
      >

        <po-step p-label="Escopo">
          <po-radio-group
            name="objective"
            p-label="1. Escopo - Houve um completo entendimento de todo escopo dessa história? Enxerga a possibilidade de precisar refinar melhor o como a tarefa será realizada? Acredita que a história em questão possa trazer novas demandas como o adaptação de funcionalidades pré-existentes?"
            [p-options]="opcoesProjeto"
            [(ngModel)]="selecoes.objective">
          </po-radio-group>
        </po-step>

        <po-step p-label="Desenvolvimento">
          <po-radio-group
            name="development"
            p-label="2. Desenvolvimento - Deve integrar com outro sistema? A validação exige contato com times externos? Desenvolvimento do teste unitário é complexo?"
            [p-options]="opcoesTecnologia"
            [(ngModel)]="selecoes.development">
          </po-radio-group>
        </po-step>

        <po-step p-label="Testes">
          <po-radio-group
            name="tests"
            p-label="3. Testes - O teste manual é necessário? Domina a configuração necessária e tem os pré-requisitos para o teste? O teste exige interação com times externos?"
            [p-options]="opcoesPrioridade"
            [(ngModel)]="selecoes.tests">
          </po-radio-group>
        </po-step>

      </po-stepper>

      <div class="po-row po-mt-2">
        <div class="po-md-12 po-text-right">

          <po-button

            p-label="Avançar"
            (p-click)="atualizarPassoAtual()"
            [p-disabled]="(passoAtual === 1 && !selecoes.objective) || (passoAtual === 2 && !selecoes.development)">
          </po-button>

          <po-button

            p-label="Finalizar"
            p-kind="primary"
            (p-click)="finalizarAcao()"
            [p-disabled]="!selecoes.tests">
          </po-button>

        </div>
      </div>

    </div>
  </div>



  <div class="po-row po-mt-2">
    <div class="po-md-12">
      <po-divider p-label="Valores Selecionados (em tempo real)"></po-divider>
      <pre>{{ selecoes | json }}</pre>
    </div>
  </div>

  </div>
</div>
